$color-primary-news: #1200ff;
$color-primary-programs: #ff00e9;
$main-button-color: #574aff; 
$color-black:black;
$color-white:white;



$screen-xl: 999px;
$screen-md: 899px;
$screen-ms: 749px;
$screen-s2: 699px;
$screen-s: 599px;
$screen-xs2: 399px;
$screen-xs: 349px;